h1 {
  text-shadow: 0px 0px 3px rgb(54, 54, 54);
}

.outro {
  color: white;
  text-shadow: 0px 0px 4px red;
}

.varias {
  color: black;
  text-shadow: 0 0 7px #ff0000, 2px 2px 5px yellow;
}

.caixa {
  width: 40%;
  height: auto;
  background: gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background-image: linear-gradient(to right, gray, rgb(172, 172, 172));
}

.reduzido {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caixa:hover .reduzido {
  white-space: normal;
}
